body {
    background: lightslategray;
    margin: 0;
    text-align: center;
    
}
 .myName {
     width: 100%;
     margin: 0 auto;
     font-family: 'Sansita Swashed', cursive;
     font-size: 7em;
     color: rgb(115, 225, 255);
     filter: drop-shadow(10px 10px 10px black);
     z-index: 5;
 }

 .programmer {
     line-height: 50px;
     font-family: 'Merriweather Sans', sans-serif;
     font-size: 40px;
     color: rgb(59, 63, 88);
 }


.top-container {
 background-color: rgb(139, 190, 190);
 position: relative;
 padding: 200px;
}

.cloudBottom {
    z-index: 5;
    position: absolute;
    right: 40px;
    top: 0px;
    filter: drop-shadow(50px 50px 50px);

}

.cloudTop {
    z-index: 4;
    position: absolute;
    left: 30px;
    top: 60px;
    filter: drop-shadow(50px 50px 50px);
}

 .mountain {
     z-index: 0;
    bottom: 0;    
    position: absolute;
    left: 950px;
    height: 300px;
    filter: drop-shadow(20px 0 20px);

} 

.mountain2 {
    z-index: 2;
   bottom: 0;    
   position: absolute;
   left: 700px;
   height: 150px;
   width: 800px;
   filter: drop-shadow(20px 0px 20px );

} 
.mountain3 {
    z-index: 0;
   bottom: 0;    
   position: absolute;
   left: 600px;
   height: 200px;
   filter: drop-shadow(20px 0 20px);
} 

.pro {
    font-style: italic;
}

.mid-container {
    background-color: rgb(139, 190, 190);
    position: relative;
    padding: 20px;
}
.tree1 {
    height: 300px;
}

.bottom-container {
   
}

