body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 1.6rem;
  background: #bdaecf;
  color: #ececec;
  padding: 1rem; }

.header-primary {
  color: #ececec;
  text-transform: uppercase;
  text-shadow: 0.75rem 0.75rem 0.75rem #0a0a0a;
  backface-visibility: hidden;
  margin-bottom: 6rem; }
  .header-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 700;
    letter-spacing: 2rem;
    text-align: left;
    animation-name: dropDown;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.78, 0.29, 0.57, 1.31); }
  .header-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1.1rem;
    text-align: left; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box; }

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(-200rem); }
  90% { }
  100% {
    opacity: 100%;
    transform: translateY(1rem); } }

.header {
  height: 65vh;
  position: relative;
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(to right bottom, rgba(109, 209, 248, 0.87), #1f3e5f), url(/reference/img/codeScreenShot.png);
  clip-path: polygon(0 0, 100% 0, 60% 95vh, 0 100%);
  border-radius: 1rem; }
  .header__head--shot {
    display: block;
    position: relative;
    padding: 5rem;
    border-radius: 3rem; }
  .header__headShot {
    height: 35rem;
    border-radius: 10rem;
    position: absolute;
    box-shadow: 1rem 1rem 3rem #0a0a0a; }
  .header__logo-box {
    position: relative;
    top: 6rem;
    left: 6rem; }
  .header__logo {
    height: 8rem; }
  .header__text--box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.header-links__nav {
  top: 2rem;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 1000; }

.header-links__list {
  list-style: none;
  width: 100%; }

.header-links__list--item {
  display: inline-block;
  padding: 2rem; }

.header-links__list--link:link, .header-links__list--link:visited {
  text-shadow: 0.75rem 0.75rem 0.75rem #0a0a0a;
  display: inline-block;
  font-weight: 500;
  font-size: 2.5rem;
  padding: 1rem;
  color: #ececec;
  text-decoration: none;
  text-transform: uppercase; }

.header-links__list--link:hover, .header-links__list--link:active {
  color: #23ffed;
  transform: translateY(-0.5rem); }
