body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: 1.6rem;
  background: rgba(109, 209, 248, 0.932);
  color: #ececec;
  padding: 1rem; }

.header-primary {
  color: #ececec;
  text-transform: uppercase;
  text-shadow: 0.75rem 0.75rem 0.75rem #0a0a0a;
  backface-visibility: hidden;
  margin-bottom: 2rem; }
  .header-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 2rem;
    text-align: left;
    animation-name: dropDown;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.78, 0.29, 0.57, 1.31); }
    @media (max-width: 37.5em) {
      .header-primary--main {
        font-size: 5rem;
        letter-spacing: 1.2rem; } }
  .header-primary--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1.1rem;
    text-align: left; }
    @media (max-width: 37.5em) {
      .header-primary--sub {
        font-size: 2rem;
        letter-spacing: 1rem; } }

.videoOfAnimations {
  position: absolute;
  background-color: orangered; }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box;
  padding: .5rem; }
  @media (max-width: 56.25em) {
    body {
      padding: 0; } }

@keyframes dropDown {
  0% {
    opacity: 0;
    transform: translateY(-200rem); }
  90% { }
  100% {
    opacity: 100%;
    transform: translateY(1rem); } }

@keyframes animateEyes {
  0% {
    background-image: url(/reference/img/animationPageCharacterEyes.png); }
  10% { }
  20% { }
  30% { }
  40% { }
  50% { }
  60% { }
  70% { }
  80% { }
  90% { }
  100% {
    background-image: url(/reference/img/animationPageCharacterEyes.png); } }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-mid {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 * 6rem) / 3); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 * 6rem) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - 3 * 6rem) / 4); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 * 6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 * 6rem) / 4) + 2 * 6rem); }

.header {
  height: 65vh;
  position: relative;
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(to right bottom, rgba(109, 209, 248, 0.932), rgba(31, 62, 95, 0.911)), url(/reference/img/codeScreenShot.png);
  border-radius: 1rem; }
  .header__head--shot {
    display: block;
    position: relative;
    padding: 5rem;
    border-radius: 3rem; }
    @media (max-width: 37.5em) {
      .header__head--shot {
        padding: 0%; } }
  .header__headShot {
    height: 35rem;
    border-radius: 10rem;
    position: absolute;
    box-shadow: 1rem 1rem 3rem #0a0a0a; }
    @media (max-width: 37.5em) {
      .header__headShot {
        height: 20rem; } }
  .header__headSHot--characterAnimation {
    background-image: url(/reference/img/animationPageCharacterEyes.png);
    display: block;
    animation-name: animateEyes;
    animation-duration: 100s;
    z-index: 100;
    background-color: orangered; }
  .header__logo-box {
    position: absolute;
    top: 6rem;
    left: 6rem; }
  .header__logo {
    height: 8rem; }
    @media (max-width: 37.5em) {
      .header__logo {
        height: 4rem;
        opacity: 50%; } }
  .header__text--box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }

.header-links__nav {
  top: 2rem;
  text-align: center;
  position: fixed;
  width: 100%; }
  @media (max-width: 37.5em) {
    .header-links__nav {
      width: 50%; } }

.header-links__list {
  list-style: none;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.header-links__list--item {
  padding: 2rem; }
  @media (max-width: 37.5em) {
    .header-links__list--item {
      padding: 1rem; } }

.header-links__list--link:link, .header-links__list--link:visited {
  text-shadow: 0.75rem 0.75rem 0.75rem #0a0a0a;
  font-weight: 500;
  font-size: 2.5rem;
  padding: 1rem;
  color: #ececec;
  text-decoration: none;
  text-transform: uppercase; }
  @media (max-width: 37.5em) {
    .header-links__list--link:link, .header-links__list--link:visited {
      font-size: 1.2rem; } }

.header-links__list--link:hover, .header-links__list--link:active {
  color: #23ff91;
  transform: translateY(-0.5rem); }

.youTubeLink {
  position: relative; }

.section-projects {
  padding: 20rem 0;
  margin-top: 1rem;
  border-radius: 2rem;
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(to top right, rgba(0, 183, 255, 0.15), rgba(111, 0, 255, 0.15));
  color: #070606; }
