.header {
  height: 65vh;
  position: relative;
  background-size: cover;
  background-position: top;
  background-image: linear-gradient(
      to right bottom,
      $color-primary-ltBlue,
      $color-primary-dkBlue
    ),
    url(/reference/img/codeScreenShot.png);

  // clip-path: polygon(0 0, 100% 0, 0% 100, 0 100%);
  border-radius: 1rem;

  &__head--shot {
    display: block;
    position: relative;
    padding: 5rem;
    border-radius: 3rem;

    @include respond(phone) {
      padding: 0%;
    }
  }

  &__headShot {
    height: 35rem;
    border-radius: 10rem;
    position: absolute;
    //   padding: 2rem;
    box-shadow: $box-shadow-dark;

    @include respond(phone) {
      height: 20rem;
    }
   
  }

   &__headSHot--characterAnimation {
     background-image: url(/reference/img/animationPageCharacterEyes.png);
       display: block;
      animation-name: animateEyes;
      animation-duration: 100s;
      z-index: 100;
      background-color: orangered;
    }


  

  &__logo-box {
    position: absolute;
    top: 6rem;
    left: 6rem;
  }

  &__logo {
    height: 8rem;
  }

  &__text--box {
    @include absolutePosition;
  }
}
