.composition {
  position: relative;

  &__photo {
    width: 50%;
    // height: ;
    box-shadow: 0 1.5rem 4rem rgba($color-black, 0.6);
    border-radius: 0.5rem;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 0.2rem;

    @include respond(phone) {
      width: 100%;
    }

    &--p1 {
      left: 0;
      top: -5rem;
    }

    &--p2 {
      right: 5rem;
      top: -2rem;

      @include respond(phone) {
        margin-top: 2rem;
        width: 70%;
        top: 2rem;
        left: 3rem;
      }
    }

    &--p3 {
      left: 2rem;
      top: 15rem;
    }

    &--p4 {
      left: 30%;
      top: 25rem;

      @include respond(phone) {
        margin-top: 2rem;
        //   width: 70%;
        top: 25rem;
        left: 25%;
      }
    }

    &--p5 {
      left: 10%;
      top: 45rem;
    }

    &--p6 {
      left: 15rem;
      top: 60rem;

      @include respond(phone) {
        //   margin-top: 2rem;
        //   width: 70%;
        top: 50rem;
        left: 1rem;
      }
    }

    &:hover {
      outline: 0.5rem solid $transparent-purple-glass;
      transform: scale(2) translateY(-0.5rem);
      box-shadow: 0 1.5rem 4rem rgba($transparent-gold-glass, 0.4);
      z-index: 20;

      @include respond(phone) {
        transform: scale(1.55) translateY(-0.5rem);
      }
    }
  }
  composition:hover &__photo:not(:hover) {
    &:hover &__photo:not(:hover) {
      transform: scale(0.9);
    }
  }
}

.lazy-img {
  //filter: blur(20px);
}
