body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: $default-font-size;
  background: $color-background-main;
  color: $color-background-ltGray;
  padding: 1rem;
}

.header-primary {
  // My Name label
  color: $color-background-ltGray;
  text-transform: uppercase;
  text-shadow: $text-shadow-dark;
  backface-visibility: hidden;
  margin-bottom: 2rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 2rem;
    text-align: left;
    // padding: 2rem;

    animation-name: dropDown;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.78, 0.29, 0.57, 1.31);
  }

  &--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1.1rem;
    text-align: left;
  }
}
