body {
  font-family: "Source Code Pro", monospace;
  font-weight: 400;
  font-size: $default-font-size;
  background: $color-primary-ltBlue;
  color: $color-background-ltGray;
  padding: 1rem;
}

.header-primary {
  // My Name label
  color: $color-background-ltGray;
  text-transform: uppercase;
  text-shadow: $text-shadow-dark;
  backface-visibility: hidden;
  margin-bottom: 2rem;

  &--main {
    display: block;
    font-size: 5rem;
    font-weight: 500;
    letter-spacing: 1.5rem;
    text-align: center;
    padding: 2rem;

    animation-name: dropDown;
    animation-duration: 2s;
    animation-timing-function: cubic-bezier(0.78, 0.29, 0.57, 1.31);


    @include respond(phone) {
      font-size: 4rem;
      letter-spacing: 1.2rem;
      text-align: center;

    }
  }

  &--sub {
    display: block;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1.1rem;
    text-align: left;

    
    @include respond(phone) {
      margin-top: 2rem;
      font-size: 2.5rem;
      letter-spacing: 1rem;
      
    }
  }
}

.videoOfAnimations {
  position: absolute;
  background-color: orangered;
}

.heading-secondary {
  text-transform: uppercase;
  padding: 3rem;

}

.heading-tertiary {
  text-transform: uppercase;
  text-align: right;
  padding: 3rem;
}

.paragraph {
  text-align: right;
  letter-spacing: .2rem;
  padding: 3rem;
}
