.section-projects {
  padding: 20rem 0;
  margin-top: 1rem;
  border-radius: 2rem;
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(
    to top right,
    $transparent-blue-glass,
    $transparent-purple-glass
  );
  color: $color-black;
}
