.section-projects {
  padding: 15rem 5rem;
  margin-top: .2rem;
  border-radius: 1rem;
  text-align: center;
  background-size: cover;
  background-image: linear-gradient(
    to top right,
    $color-primary-dkBlue,
    $transparent-purple-glass
  );
  color: $color-background-ltGray;
}
